<%#
  Copyright 2018 Rosanna Gray
  Copyright 2020 Matthew B. Gray
  Copyright 2019 AJ Esler

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Review <%= @my_offer.membership %> membership #<%= @reservation.membership_number %></h1>

<% if operator_signed_in? && @rights_exhausted.any? %>
  <div class="alert alert-danger" role="alert">
    Note: User has <%= @rights_exhausted.to_sentence %>
  </div>
<% end %>

<section class="l-section">
  <% if operator_signed_in? %>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="l-panel operator-pane">
          <h2>Operator Actions</h2>
          <p>
            <%= link_to "Lookup user records", operator_user_path(@reservation.user) %>
            <% if ENV["GLOO_BASE_URL"].present? %>
              and compare to The Fantasy Network
            <% else %>
              for <%= @reservation.user.email %>
            <% end %>
          </p>

          <p>
            <%= link_to "Transfer membership", new_operator_reservation_transfer_path(reservation_id: @reservation) %>
            to another user
          </p>

          <p>
            <%= link_to "Set membership", operator_reservation_set_memberships_path(reservation_id: @reservation) %>
            to any level that's been in our system
          </p>

          <p>
            <%= link_to "Credit account", new_operator_reservation_credit_path(reservation_id: @reservation) %>
            with payment made via cash or cheque
          </p>

          <p>
            <% if @reservation.disabled? %>
              <%=
                link_to(
                  "Enable Membership Rights",
                  operator_reservation_rights_path(reservation_id: @reservation),
                  method: :post,
                )
              %>
              to resume rights for nomination, voting and attendance
            <% else %>
              <%=
                link_to(
                  "Disable Membership Rights",
                  operator_reservation_rights_path(reservation_id: @reservation),
                  method: :post,
                )
              %>
              to suspend rights for nomination, voting and attendance
            <% end %>
          </p>

          <% Election.find_each do |election| %>
            <p>
              Change
              <%=
                link_to(
                  "Finalist rankings for #{election.i18n_key}",
                  reservation_finalist_path(reservation_id: @reservation, id: election.i18n_key)
                )
                %>
              (hugo admin only)
            </p>
          <% end %>

          <% Election.find_each do |election| %>
            <p>
              Change
              <%=
                link_to(
                  "Nominations for #{election.i18n_key}",
                  reservation_nomination_path(reservation_id: @reservation, id: election.i18n_key)
                )
                %>
              (hugo admin only)
            </p>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="l-panel operator-pane">
          <h2>User Notes</h2>
          <p>
            <%= link_to "View user page", operator_user_path(@reservation.user) %>
            to add a note
          </p>
          <% if @notes.none? %>
            <p>
              No notes for this membership
            </p>
          <% else %>
            <% @notes.eager_load(:user).order(created_at: :desc).each do |note| %>
              <p>
                <strong><%= fuzzy_time(note.created_at) %> - <%= note.user.email %></strong>
                <br><%= note.content %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="l-panel l-panel-m-membership-types">
        <div class="l-v-spacing">
          <%= render("reservation_card", reservation: @reservation) do %>
            <% show_links(@reservation).each do |link| %>
              <p><%= link %></p>
            <% end %>
          <% end %>
        </div>

        <% if @reservation.membership.price > 0 || @reservation.charges.any? %>
          <div class="l-v-spacing">
            <h2 class="h4">Payment History</h2>
            <ul class="list-group text-dark list-group-flush mt-3 mb-4">
              <% if @reservation.charges.successful.none? %>
                <li class="list-group-item list-group-item-danger">
                  We have not received payments for this membership! You may loose this membership if you don't make
                  payments towards it.
                </li>
              <% end %>

              <% @reservation.charges.order(:created_at).find_each do |charge| %>
                <li class="list-group-item">
                  <strong><%= charge.created_at %></strong>
                  <br><%= charge.comment %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @reservation.orders.length > 1 %>
          <div class="l-v-spacing">
            <h2 class="h4">Upgrade History</h2>
            <ul class="list-group text-dark list-group-flush mt-3 mb-4">
              <% @reservation.orders.eager_load(:membership).order(:created_at).find_each do |order| %>
                <li class="list-group-item">
                  <%= order.membership %> membership held
                  <br>from <%= fuzzy_time(order.active_from) %>
                  <% if order.active_to %>
                    <br>to <%= fuzzy_time(order.active_to) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="l-v-spacing">
          <h2 class="h4">Membership Transfer</h2>

          <p>
            We are happy to fully transfer a membership to another person.
            The person wanting to transfer, and the person receiving the transfer need to contact us at
            <%= link_to $member_services_email, "mailto:#{$member_services_email}" %>
          </p>

          <p>
            The transfer is of all rights that go along with that membership. If any of those rights have been exhausted,
            eg. by nominating or voting in the Hugos, then those rights are not available anymore.
          </p>

          <p>
            If the transferer wants to then be a supporting member in order to get rights for Hugo nominations, voting
            and Site Selection, then they will need to take out a fresh supporting membership.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <h2>Review your details</h2>
        <%= form_for(@reservation) do |form| %>
          <%= render worldcon_contact_form %>
        <% end %>
      </div>
    </div>
  </div>
</section>
