<%#
  Copyright 2019 AJ Esler
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<table class="js-data-table table table-hover table-striped table-dark table-responsive-lg">
  <thead>
    <th>#</th>
    <th>Legal Name</th>
    <th>Preferred Name</th>
    <th>Email</th>
    <th>Membership</th>
  </thead>
  <tbody>
    <% claims.eager_load(:user, :contact, reservation: :membership).each do |claim| %>
      <tr>
        <td><%= claim.reservation.membership_number %></td>
        <td><%= link_to(claim.contact&.legal_name, reservation_path(claim.reservation)) %></td>
        <td><%= claim.contact&.preferred_name %></td>
        <td><%= claim.user.email %></td>
        <td><%= claim.reservation.membership %></td>
      </tr>
    <% end %>
  </tbody>
</table>
